.title {
  color: rgb(68, 118, 255);
}

.subtitle {
  color: rgb(68, 118, 255);
}

.containerText {
  width: 100%;
  height: 40vh;
  display: flex;
  font-size: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  /*le cambie el display que tenia, le puse flex y le fui colocando propiedades para que quede mejor acomodado*/
}

.containterScaner {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5vh; /*le agrego un margen-top para que este distanciado del otro bloque*/
}

.titleScan {
  color: rgb(68, 118, 255);
  width: 200px;
  height: 50px;
  bottom: 10%;
}

.scaner {
  width: 280px;
  height: 350px;
  position: relative;
  bottom: 5vh;
}

.contenido {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*le agregue flex para acomodarlo, junto con algunas propiedades de flex*/
}
