@import '../../../../../styles/main.scss';

.contCards {
  width: 60%;
  height: 500px;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform: translateX(300px);
  margin-bottom: 40px;
}

.titleContainer {
  transform: translateY(-6px);
  font-size: 18px;
  color: $color-title;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 26%;
}
