.radio2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.gramos{
    width: 60px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid green 2px;
    border-radius: 30px;
}