@import '../../../../styles/main.scss';

.nav {
  width: 100%;
  height: 10%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  visibility: hidden;
}

.closeBlue {
  width: 70%;
  margin-top: 10px;
  height: 60px;
}

.buttonClose {
  background-color: $text-button-color;
  ;
  border: 0;
  margin: 0;
  margin-left: 2vh;
  width: 80px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoBlue {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
}

.contenedorPrincipal {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: $color-white;
  background-color: $color-blue;
}

.containerText {
  width: 60%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  line-height: 14px;
  align-items: center;
}

.title {
  color: $color-text-end;
  font-size: 54px;
  margin-top: 6vh;
  margin-left: 20%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  align-self: flex-start;
  width: 100%;
}

.text {
  width: 70vh;
  line-height: 30px;
  color: $text-button-color;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.subtitle {
  color: $color-text-end;
  font-size: 34px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  align-self: flex-start;
  margin-left: 20%;
  width: 100%;
  line-height: 36px;
}

.buttonEnd {
  background-color: $text-button-color;
  color: $color-blue;
  font-size: 24px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  border-radius: 16px;
  width: 270px;
  height: 70px;
  transition: all 0.1s;
  margin-top: 180px;

  &:hover {
    transform: translateY(-4px);
    cursor: pointer;
  }
}

.footer {
  visibility: hidden;
}

.hrFooterEnd {
  width: 60%;
  color: #4E7B95;
  height: 1px;
}

.textFooter {
  font-size: 10px;
  color: $text-button-color;
  height: 30px;
  line-height: 14px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}

@media all and (max-width: 740px) {
  .nav {
    height: 26%;
    visibility: visible;
  }

  .iconBack {
    width: 70%;
  }

  .iconLogo {
    width: 30%;
    margin-left: 46%;
  }

  .footer {
    visibility: visible;
    height: 10%;
  }

}
