@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

$copy-color: #909090;
$hr-color: #EFEFEF;
$text-button-color: #FFFFFF;
$color-title:#808080ef;
$border-target: #80808017;
$color-text-end:#505767;;
$color-white: #ffffffd7;
$color-gray: #d8d2d2;
$color-blue: #7688F6;
$pink-color: #FF6A9B;
$black-color: #505767;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
