@import '../../../../../styles/main.scss';

.contCards {
  /*width: 60%;
  height: 510px;*/
  width: 776px;
  height: 388px;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
}
