$color-blue: #3f3fca;

.button {
  background-color: $color-blue;
  color: white;
  font-size: 24px;
  border-radius: 20px;
  width: 260px;
  height: 64px;
  transition: all 0.1s;

  &:hover {
    transform: translateY(-4px);
    cursor: pointer;
  }
}
