 .button {
     background-color: blue;
     color: white;
     font-size: 20px;
     border-radius: 4px;
     border-color: blue;
     width: 250px;
     height: 64px;
     transition: all 0.1s;

     &:hover {
         transform: translateY(-4px);
         box-shadow: 0 30px 30px #94dbf8;
         cursor: pointer;
     }

 }
