$color-title:#808080ef;

.contPastis {
    width: 940px;
    height: 500px;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.titleContainer {
    margin-bottom: 80px;
    font-size: 18px;
    color: $color-title;
}
