.cont2{
    width: 100%;
    height: 50%;
    position: relative;
    
    
    
}
.subtitle{
    color: rgb(68, 118, 255);
    margin-right: 25px;
    width: 250px;
    height: 50px;
    position: relative;
    left: 40%;
    bottom: 10%;
}

.Icon{
width: 15%;

position: relative;
left: 40%;
bottom: 5vh;


}